.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 8px 12px;
    background-image: linear-gradient(to right top, #e77575, #e66a6a, #e55f5e, #e35352, #e14646);
    color: white;
    border-radius: 15px;
    margin-bottom: 1rem;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-image: linear-gradient(to right top, #dc8989, #dd8282, #dd7a7a, #dd7373, #dd6b6b);
    border-radius: 15px;
    color: white;
}